@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

/*---------------------------------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------------------*/

body {
  background-color: #f4f4f4;
  font-family: "dm sans";
  font-size: 2rem;
  color: black;
}

.flex {
  display: flex;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-size: normal;
  font-weight: 400;
  margin-top: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
}

/* .nav-list-item {
  display: block;
} */

.nav__item:not(:last-of-type) {
  padding-right: 40px;
}

.logo {
  font-family: "syne";
  font-size: 32px;
  font-weight: 500;
}

/* ----- HERO ----- */

.section {
  margin-top: 180px;
}

.h1-wrapper {
  display: flex;
  height: 202px;
  justify-content: center;
  align-items: flex-end;
    color: #383838;
  text-align: center;
  font-family: Syne;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9.68px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

/* .img-hands {
  width: 630px;
  height: 700px;
} */

.hero__text {
  display: block;
  width: 420px;
  color: #383838;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-up-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
  width: 130px;
  height: 130px;
  color: #f6f6f6;
  background-color: #383838;
  border-radius: 50%;
}

.hero__img--vase {
  width: 525px;
  height: 346px;
  margin-top: 76px;
}

/* ----- ABOUT US ----- */

.title {
  color: #383838;
  font-family: Syne;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.7px;
}

.about-us__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__text {
  display: block;
  width: 525px;
  height: 530px;
  margin-top: 72px;
  color: #383838;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-us__text--small {
  padding-bottom: 20px;
  color: #383838;
  text-align: right;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-us__img {
  width: 630px;
  height: 562px;
}

.about-us__list {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.about-us__number {
  color: #383838;
  text-align: center;
  font-family: Syne;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.7px;
}
.about-us__advantages {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}

/* ----- PLACE ----- */

.place {
  height: 885px;
  background-image: url(/img/place-bg.jpg);
  /* background-position: right bottom, left top;
  background-repeat: no-repeat, repeat; */
}

.place__title {
  color: var(--WHITE, #f4f4f4);
  font-family: Syne;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 7.7px;
}

.place__title--1st-str {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
}
.place__title--2nd-str {
  margin-left: 310px;
}
.place__title--3rd-str {
  margin-left: 700px;
}
.place__text {
  display: inline-block;
  margin-top: 250px;
  margin-left: 100px;
  color: var(--WHITE, #f4f4f4);
  font-size: 32px;
}

/* ----- WORKS ----- */

.works__list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.works__text {
  color: var(--black, #383838);
  /* font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; */
}

.works__img {
  /* width: 400px;
  height: 400px; */
  margin-top: 16px;
  margin-bottom: 16px;
}

/* ----- CLASSES -----*/

.classes-test {
  display: flex;
  flex-direction: column;
}

.classes-img-1 {
  width: 400px;
  height: 295px;
}

.classes-img-2 {
  margin-top: 20px;
  margin-right: 20px;
  width: 400px;
  height: 285px;
}

.classes .flex {
  margin-top: 100px;
}

.classes-list-item {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  margin-left: 105px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.classes-list-item::after {
  content: "";
  position: absolute;
  margin-top: 50px;
  display: block;
  width: 400px;
  height: 2px;
  background-color: #383838;
}

/* ----- QUESTIONS ----- */

.questions {
  display: flex;
  flex-direction: column;
}

.questions-list {
  margin-top: 120px;
  margin-left: auto;
}

.questions-list-item {
  display: flex;
  position: relative;
  align-items: baseline;
  width: 925px;
}

.questions-list-item::after {
  content: "";
  position: absolute;
  top: 50px;
  display: block;
  width: 925px;
  height: 2px;
  background-color: #383838;
}

.questions-list-item:not(:last-child) {
  margin-bottom: 80px;
}

.questions-list-item .numbers {
  color: var(--black, #383838);
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.4px;
  margin-right: 55px;
}

.questions-list-item-text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: auto;
}

/* ----- INVITE ----- */

.invite-wrapper {
  height: 980px;
  width: 100%;
  background-image: url(./img/close-up-artist-clay-pot_23-2148986303.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.invite {
  height: 980px;

  /* background-position: right bottom, left top;
  background-repeat: no-repeat, repeat; */
}

.invite-container {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.invite .title {
  color: #f4f4f4;
}

.invite-text {
  color: var(--WHITE, #f4f4f4);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.invite-form {
  margin-top: 40px;
  margin-left: auto;
}

.invite-form-title {
  color: var(--WHITE, #f4f4f4);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.invite-form-input {
  color: #afabab;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 400px;
  height: 79px;
  background-color: transparent;
  border: 1px solid var(--WHITE, #f4f4f4);
  outline: none;
  padding-left: 20px;
}

.invite-form-input::placeholder {
  color: #afabab;
}

.invite-submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 82px;
}

/* ----- CONTACTS ----- */

.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts-text {
  color: var(--black, #383838);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  width: 505px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 500;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.insta-svg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 200px;
  right: 0;
}

.facebook-svg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 280px;
  right: 0;
}

.tiktok-svg {
  width: 40px;
  height: 40px;
  background-color: #383838;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  right: 0;
}

/* ----- FOOTER ----- */

.footer-wrapper {
  width: 100%;
  height: 226px;
  background-color: #383838;
  margin-top: 160px;
  padding-top: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
  color: var(--WHITE, #F4F4F4);
font-family: Syne;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 3.52px;
}

.footer-nav-item {
  color: var(--WHITE, #F4F4F4);
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 20px;
}